@charset "utf-8";

/* LP Top page
   ========================================================================== */

/* common */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  /* max-width: 1260px; */
  margin:0 auto;
  background: #fff;
  color: #0c0c0c;
  caret-color:transparent;
  font-family: "Helvetica Neue", "Arial", "Noto Sans JP", "Hiragino Sans", "Meiryo", sans-serif;
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}

a {
  color: #0c0c0c;
  text-decoration: none;
}

.site-title {
  width: 120px;
  line-height: 1.875em;
  padding: 10px 0;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* max-width: 1100px; */
  min-width: 1024px;
  background-color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 3%;
  height: 63px;
  z-index: 10;
  /* opacity: 0.5; */
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin: auto 0 auto 30px;
}

#header li a {
  color: #24292e;
  margin: auto;
}

#header li a:hover {
  opacity: 0.7;
}


/*main visual*/
.mainvisual {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  width: 1100px;
  height: 550px;
  margin: 63px auto 63px;
  background: url(../img/メインビジュアル写真.png) right center no-repeat;
}
.explain {
  width: 100%;
  margin: 50px auto;
}
.button {
  display: block;
  color: #0c0c0c;
  font-weight: bold;
  font-size: 1.2em;
  width: 400px;
  height: 80px;
  margin: 30px auto 0 0;
  padding: 10px 0;
  text-align: center;
  background: orange;
  box-shadow: 5px 10px 20px -4px rgba(4,0,0,0.4);
}
.button .small {
  font-weight: bold;
  font-size: 0.8em;
}
.mainvisual h2 {
  font-weight: bold;
  color: #B40015;
  font-size: 1.3em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  line-height: 1.2em;
}
.mainvisual h3 {
  font-weight: 800;
  font-size: 2em;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.mainvisual h4 {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #6D6D6D;
  margin-bottom: 30px;
  position: relative;
}
.small_number {
  font-size: 0.2em;
  padding-left: 2px;
  line-height: 0.2em;
  position: absolute;
  top: 10px;
  }

.value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #e2001b;
}

.small_number2 {
 font-size: 0.2em;
 position: absolute;
 top: 31px;
 left: 80px;
 font-family: "Noto Sans JP", sans-serif;
}

.small_number3 {
  font-size: 0.2em;
  position: absolute;
  top: 31px;
  left: 355px;
  font-family: "Noto Sans JP", sans-serif;
 }

.unit {
  font-size: 1.5em;
  font-weight: bold;
  color: #0c0c0c;
  margin-right: 25px;
  margin-left: 2px;
}

.items {
  font-weight: bold;
  color: #0c0c0c;
}

.mainvisual tr {
  width: 200px;
  margin-top: 20px;
}

/*curriculum*/
#curriculum {
  scroll-margin-top: 63px;
}

.curriculum_title h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  text-align: center;
}

.curriculum_title h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

.curriculum_box {
  width: 1100px;
  margin: 40px auto 95px;
  padding: 30px 85px 50px;
  background: #fafafa;
}

.curriculum_tab ul {
 display: flex;
 text-align: center;
 justify-content: center;
 margin-bottom: 40px;
}

.curriculum_tab li {
  display: inline-block;
  font-weight: bold;
  width: 250px;
}

.curriculum_tab li a {
  display: inline-block;
  width: 250px;
  padding: 10px 0;
  border-bottom: 3px solid #6d6d6d;
}

.curriculum_tab li a:hover {
  color:#e2001b;
  border-bottom: 3px solid #e2001b;
}

.curriculum_content h3 {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}

.curriculum_content2 h4 {
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

.curriculum_content2 ul {
  display: flex;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
 }

 .curriculum_content2 li {
  font-weight: bold;
  margin: 5px 0;
  width: auto;
  padding-left: 10px;
  text-align: center;
}

.curriculum_table {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.curriculum_table table {
  margin: 25px 0;
}

.curriculum_table_text {
  padding-left: 10px;
  letter-spacing: 0.05em;
}

.curriculum_table h4 {
  text-align: center;
}

.curriculum_table h5 {
  margin: 10px 0 20px 0;
  font-size: 1em;
  text-align: center;
  color: #e2001b
}

/*service*/
#service {
  scroll-margin-top: 63px;
  width: 100%;
  height: auto;
  background: #B40015;
  margin-bottom: 60px;
  padding: 1% 10%;
}

.service-text1 h4 {
  position: relative;
  padding: 30px 0 10px 0;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #B40015;
  width: 192px;
}

.service-text1 h4:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 50%;
  height: inherit;
  border-bottom: 1px solid #fff;
}

.service-text1 h2 {
  font-size: 1.875em;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
} 

.service-text2 h4 {
  font-size: 0.875em;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 300;
}

.servince_content {
  display: flex;
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}


.servince_content .img {
  position: absolute;
  top: 30px;
  left: 630px;
  margin-top: 180px;
  text-align: center;
  width: 440px;
}

.service-text {
  width: 1100px;
  margin: 0 auto;
}

.img2 {
  margin: 50px auto;
  width: 890px;
}

/*support*/
#support {
  scroll-margin-top: 63px;
  margin: 0 auto 80px;
  width: 1100px;
}

#support .text {
  margin-bottom: 50px;
}

#support .text h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

#support .text h3 {
  font-weight: bold;
  color: #e2001b;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

#support .text::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 3px;
  background: #e2001b;
  margin: 0 auto;
  border-bottom: 3px solid #e2001b;
  content: "";
  /* margin-bottom: 30px; */
}

.support_visual {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.support_visual img {
  margin: 0 20px 20px 20px;
}

.support_content {
  position: relative;
}

#support .support_visual h2 {
  position: absolute;
  top: 235px;
  left: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: #e2001b;
}

#support .support_visual h3 {
  margin: 0 20px 0 20px;
  margin-bottom: 20px; 
  font-weight: bold;
}

#support .support_visual p {
  margin: 0 20px 0 20px;
  font-size: 0.875em;
  line-height: 1.875em;
  /* letter-spacing: 0.03em; */
}
/* voice */
#voice {
  scroll-margin-top: 63px;
  width: 100%;
  background: #f5f5f5;
  padding: 30px 10% 80px;
}

.voice_content {
  height: 700px;
}

.voice_title h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  margin: 40px auto;
  letter-spacing: 0.05em;
  text-align: center;
}

/*==================================================
スライダーのためのcss
===================================*/
/* CSS */
.slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
  max-width: 1100px;
  margin:0 auto;
}

.slider img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height: auto;
  display: block;
  position: relative;
}

.slider_explain {
  position: absolute;
  width: 100%;
  top: 215px;
  letter-spacing: 0.05em;
}

.slider_explain h3 {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.slider_explain h4 {
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 40px;
  margin-bottom: 10px;
}

.slider_explain h5 {
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: 15px;
}

.slider_explain h6 {
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 200px;
}

.slider_explain a {
  color: #e2001b;
}
  
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
 text-align:center;
 margin: 30px 0 0 0;
}

.slick-dots li {
   display:inline-block;
   width: 40px;
   height: 6px;
   margin: 0 5px;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width: 40px;/*ドットボタンのサイズ*/
   height: 4px;/*ドットボタンのサイズ*/
   display:block;
   /* border-radius:50%; */
   background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:#333;/*ドットボタンの現在地表示の色*/
}

/* CTA */
#cta {
  width: 100%;
  min-width: 1650px;
  height: 580px;
  background: #B40015;
  position: relative;
  margin-bottom: 10px;
}

.cta_content img {
  height: 580px;
  position: absolute;
  top: 0;
  right: 0;
}

.cta_explain {
  width: 1100px;
  color: #fff;
  position: absolute;
  top: 80px;
  left: 15%;
}

.cta_explain h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.cta_explain h3 {
  font-weight: 400;
  line-height: 1.8em;
}

.cta_button {
  display: block;
  color: #0c0c0c;
  font-weight: bold;
  font-size: 1.2em;
  width: 400px;
  height: 80px;
  margin-top: 60px;
  padding: 25px 0;
  text-align: center;
  background: orange;
  box-shadow: 5px 10px 20px -4px rgba(12,12,12,0.4);
}



/* price */
#price {
  scroll-margin-top: 63px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px
}

.course_content h3 {
  position: relative;
  height: 30px;
  font-weight: bold;
  color: #e2001b;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.course_content::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 100px;
  height: 3px;
  background: #e2001b;
  margin: 0 auto;
  border-bottom: 3px solid #e2001b;
  content: "";
  /* margin-bottom: 30px; */
}

.course_title h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  margin: 50px auto 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

.course_tab ul {
 display: flex;
 text-align: center;
 justify-content: center;
 margin-bottom: 10px;
}

.course_tab li {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  width: 200px;
}

.course_tab li a {
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  color: #6d6d6d;
}

.course_tab li a:hover {
  color: #fff;
  background: #B40015;
}

.price_content {
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: #f6f6f6;
}

.price_box {
  font-family: "Noto Sans JP", sans-serif;
  width: 880px;
  height: 900px;
  margin: 30px auto 70px;
  background-color: #fff;
  position: relative;
}

#price_explain {
  scroll-margin: 63px;
  position: absolute;
  top: 40px;
  left: 70px;
}

#price_explain h2 {
 font-size: 1.6em;
 font-weight: 900;
 margin-bottom: 20px;
}

#price_explain h3 {
  font-size: 1em;
  font-weight: 400;
 }

.price_img {
  position: absolute;
  right: 80px;
  top: 80px;
  width: 220px;
  height: 144px;
}

.price_img_yen {
  position: relative;
  margin-bottom: 10px;
}

.price_img_yen::after {
  position: absolute;
  left: 0;
  top: 30px;
  width: 215px;
  height: 2px;
  background: #B40015;
  content: "";
}

.price_table {
  position: relative;
  margin: 300px auto 80px;
  width: 700px;
  height: 350px;
  padding-left: 80px;
}

.price_table::before {
  position: absolute;
  top: -30px;
  left: -20px;
  width: 740px;
  height: 3px;
  margin: 0 auto;
  background: #f6f6f6;
  content: "";
}

.price_table::after {
  position: absolute;
  bottom: -30px;
  left: -20px;
  width: 740px;
  height: 3px;
  margin: 0 auto;
  background: #f6f6f6;
  content: "";
}

.price_table th {
 text-align: left;
 font-size: 1.2em;
 padding-left: 10px;
}

.price_table_rh {
 font-size: 1.0em;
 color: #6D6D6D; 
}

.price_table_value {
  font-size: 1.1em;
  font-weight: 600;
  padding-left: 10px;
}

.price_button {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 25px 0;
  width: 400px;
  height: 80px;
  text-align: center;
  background: #e2001b;
  box-shadow: 5px 10px 20px -4px rgba(12,12,12,0.4);
}

footer {
  min-width: 1024px;
  background-color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0px auto 30px;
  padding: 0 3%;
}

footer ul {
  display: flex;
  padding: 10px 0;
}

footer li {
  margin: auto 0 auto 30px;
}

footer li a {
  color: #24292e;
  margin: auto;
}

footer li a:hover {
  opacity: 0.7;
}

.site-title h5 {
  color: #9f9f9f;
  width: 300px;
}